.horarios{
    font-family: cursive;
    color: darkviolet;
    font-size: 20px;
}
.dias{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: darkviolet;
}
